@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400,500,700;1,200..800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  padding: 29px 20px;
  /* background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%); */
}

.header h2 {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 700;
}

.header h4 {
  font-weight: 500;
  font-size: 0.75rem;
}

.header--logo {
  width: 31.31px;
  height: 26.22px;
  margin-right: 12px;
}

.meme {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 35px;
  padding: 30px;
}

.meme-inputs {
  font-weight: 500;
  font-size: 0.8rem;
  height: 40px;
}

label {
  display: block;
  margin: 8px;
}

.meme--input {
  border-radius: 4px;
  border: 0.82px solid #d1d5db;
  padding: 7px 10px;
  width: 200px;
  box-shadow: 0px 0.82px 1.64px 0px #0000000d;
  font-weight: 400;
  color: #6b7280;
  display: block;
}

.gradient {
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.meme--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
}
